<footer class="footer">
    <div class="d-flex justify-content-center align-items-center flex-column flex-sm-row">
        <div class="text-muted text-center text-sm-left mb-3 mb-sm-0">
            <!-- Ancien texte du copyright -->
            <span>Copyright © <a href="https://www.bootstrapdash.com/" target="_blank">GenyConnect</a> 2024</span>
        </div>
         <div class="social-icons">
            <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
            <a href="#" class="social-icon"><i class="fas fa-phone"></i></a>
        </div>
    </div>
</footer>
