<header id="header" class="fixed-top navbar-bg">
  <div class="container-fluid d-flex align-items-center justify-content-between px-4">
    <!-- Logo à gauche -->
    <h6 class="logo"><a routerLink="/public"><img src="../../../assets/templategenyconnect/img/logo.png"></a></h6>

    <!-- Input de recherche et bouton -->
    <div class="d-flex align-items-center">
      <i class="ri-search-line me-2"></i> <!-- Ajout de la classe me-2 pour ajouter un espace entre l'icône et l'input -->
      <input type="text" class="form-control form-control-sm me-2" style="width: 300px;" placeholder="Search now" aria-label="search" aria-describedby="search">
      <button type="button" class="btn btn-outline-primary btn-sm">Search</button>
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" routerLink="/public" routerLinkActive="active">Accueil</a></li>
        <li><a class="nav-link scrollto" routerLink="/client" routerLinkActive="active">Demande</a></li>
        <li><a class="nav-link scrollto" routerLink="/about" routerLinkActive="active">Apropos</a></li>
        <li><a class="nav-link scrollto" routerLink="/services" routerLinkActive="active">Services</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
         aria-expanded="false">
        <img src="../../../assets/templategenyconnect/img/team/team-4.jpg" alt="User Image" class="rounded-circle me-1" style="width: 30px; height: 30px;">
        <!-- Remplacez "path/to/user-image.jpg" par le chemin de votre image utilisateur -->
        <span class="text-white">{{ username }}</span>
      </a>
      <!-- Dropdown menu -->
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/technicien/profileTech" >Mon profile</a></li>
        <li><a class="dropdown-item" >Suivie ma demande</a></li>
        <li><a class="dropdown-item" >Mon historique</a></li>
        <li><a class="dropdown-item" (click)="logout()">Se déconnecter</a></li>
      </ul>
    </div>
  </div>
</header><!-- End Header -->